@import 'tailwindcss';


.itemCard {
    border-radius: 1.5rem;
    padding: 0.75rem;
    background-color: white;
    position: relative;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.itemCard:hover {
    transform: scale(1.02);
}

.innerCard{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.875rem;
    color: white;
    border-radius: 0.375rem;
}

.image{
    height: 15rem;
    border-radius: 1.5rem;
    width: 100%;
    overflow: hidden;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13rem;
}

.textArea{
    margin-top: 0.75rem;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.linkButton{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 9999px;
    color: white;
}

.permissionDiv{
    @apply flex gap-3
}

.deleteButton{
    @apply bg-red-500 p-2 rounded-full absolute text-white left-4 top-4 opacity-65 cursor-pointer
}

.deleteIcon{
    @apply w-5 h-5
}

.editButton{
    @apply bg-gray-400 p-2 rounded-full absolute text-white left-14 top-4 opacity-65
}

.editIcon{
    @apply w-5 h-5
}